<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="schoolManagementEntities" connectionString="metadata=res://*/SchoolAccess.csdl|res://*/SchoolAccess.ssdl|res://*/SchoolAccess.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SB693V3\SQLEXPRESS;initial catalog=schoolManagement;persist security info=True;user id=sa;password=12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="schoolManagementEntities1" connectionString="metadata=res://*/SchoolAPI.csdl|res://*/SchoolAPI.ssdl|res://*/SchoolAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SB693V3\SQLEXPRESS;initial catalog=schoolManagement;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="schoolManagementEntities2" connectionString="metadata=res://*/GICSchoolAPI.csdl|res://*/GICSchoolAPI.ssdl|res://*/GICSchoolAPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-2AVJFF1\SQLEXPRESS;initial catalog=schoolManagement;persist security info=True;user id=sa;password=12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>